<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasicCompressor (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BasicCompressor (AUv3 AppExtension).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BasicCompressor (AUv3 Standalone).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>BasicCompressor (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BasicCompressor (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BasicCompressor (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BasicCompressor (VST3).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25B4B34AF2D4F17AE70E1F5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>371166005D09590E3D311C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45887CF7F935E4CCA6EF8CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A793C170D612C2968F1FB59B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCE2683E8F0E9DA040E29B88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3A70FD380EC8D41698A242F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFDC4B5301A18A8D8E5FC3F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
